@import url('https://fonts.googleapis.com/css?family=Aladin');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.alb {
    margin-top: 10cm; /* Fügen Sie margin-top hinzu, um die Bilder nach unten zu verschieben */
 }

.alb img {
    width: 100%;
    height: auto;
}


input[type="file"]{
    display: none;
}

label{
    display: inline-block;
    text-transform: uppercase;
    font-family: Aladin, cursive;
    color: white;
    background: red;
    font-size: 30px;
    letter-spacing: 1,5px;
    user-select: none;
    cursor: pointer;
    padding: 20px;
    margin-left: 30px;
}

input[type=submit]{
    font-family: Aladin, cursive;
    font-size: 25px;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    a{
        font-size: 24px;
    }

    label{
        font-size: 15px;
        padding: 10px;
        margin-left: 15px;
    }

    input[type=submit]{
        font-size: 12px;
        padding: 7px;
    }
}
