a{
    font-family: Aladin, cursive;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    text-decoration: underline;
    text-decoration-color: black;
    margin-left: 20px;
  }